.page-start-game {
	background: url('/img/pattern_bg_4.png');
	background-attachment: fixed;
	background-size: contain;

	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100vh;

	color: #fff;
	position: relative;
	.game-start-container {
		padding-top: 70px;
		padding-bottom: 70px;

		.game-start-card {
			padding: 15px;
			background: #fff;
			width: 550px;
			margin: 0 auto 0px 0px;
			position: relative;
			z-index: 2;
			.game-start-heading {
				text-align: center;
				color: $mytheme-color-first;
				font-size: 2rem;
				padding: 5px 0px 15px;
				border-bottom: 2px solid $mytheme-color-sixth;
				text-transform: uppercase;
			}
			.game-start-canvas-container {
				width: 300px;
				height: 300px;
				margin: 0 auto;
				text-align: center;
				padding: 10px;
				color: $mytheme-color-first;
				.game-start-canvas {
					background: #fff;
					border: 2px solid $mytheme-color-sixth;
					cursor: crosshair;
					&:hover {
						cursor: crosshair;
					}
				}
			}

			.game-start-username-form-container {
				text-align: center;
				margin: 50px auto 25px;
				.game-start-buttons {
					display: flex;
					justify-content: space-around;
					align-items: center;
					.mybtn2 {
						width: 160px;
						padding: 15px 15px;
					}
				}
			}

			.game-created-container {
				color: $mytheme-color-second;

				.game-created-title {
					text-align: center;
					color: $mytheme-color-first;
					font-size: 2rem;
					padding: 5px 0px 15px;
					border-bottom: 2px solid $mytheme-color-sixth;
					text-transform: uppercase;
				}

				.game-created-join-link {
					display: flex;
					align-items: baseline;
					justify-content: space-between;
					margin: 20px 0px 25px;
					.game-created-join-link-input {
						width: 80%;
						input {
							cursor: text;
							&::selection {
								background: $mytheme-color-first;
								color: #fff;
							}
							&:hover {
								cursor: text;
							}
						}
						.helper-text {
							color: $mytheme-color-first;
							padding-left: 2px;
						}
					}

					.mybtn2 {
						padding: 5px 25px;
						width: 67px;
					}
				}
				.game-created-user-list {
					padding: 0px;
					.game-created-user-list-item {
						display: flex;
						justify-content: left;
						align-items: center;
						margin: 10px 0px;
						.game-created-user-avatar {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 60px;
							height: 60px;
							border-radius: 50%;
							position: relative;

							img {
								width: 40px;
							}
							.game-creater-user-leader {
								position: absolute;
								right: -7px;
								top: 0px;
								color: $mytheme-color-first;
							}
						}
						.game-created-user-username {
							width: 270px;
						}
						.game-created-user-kick {
							.mybtn2 {
								padding: 5px 25px;
							}
						}
					}
				}
				.game-created-chat-container {
					.game-board-chat-body {
						max-height: 200px !important;
						min-height: 200px !important;
					}
				}
			}
		}

		.game-start-rules-container {
			background: #fff;
			color: $mytheme-color-second;

			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0%;
			width: 55%;
			height: 100%;
			padding: 40px 5% 0px 9%;
			z-index: 1;
			overflow-y: auto;

			.game-start-rules-heading {
				text-align: center;
				color: $mytheme-color-first;
			}

			& > div {
				max-height: 762px;
			}
			.game-start-rules-list {
				h4 {
					color: $mytheme-color-first;
				}
			}
		}
	}
}
