.page-home {
	.page-home-banner {
		background-image: url('/img/_background.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 100vh;
		.rules-button {
			position: absolute;
			margin: 0px;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0px;
			border-radius: 3px;
			color: #fff;
			transition: all 0.3s ease-in-out;
			padding: 15px 5px;
			&:hover {
				text-decoration: none;
			}
			i {
				animation-name: rules-button-animation;
				animation-duration: 1.4s;
				animation-iteration-count: infinite;
				position: relative;
				animation-timing-function: ease-in-out;
			}
		}
	}

	.page-home-rules {
		position: relative;
		background: #fff;
		.page-home-rules-map {
			position: absolute;
			height: 100%;
			width: 2px;
			background: $mytheme-color-first;
			left: 50%;
			transform: translateX(-50%);
		}
		.page-home-rules-pulse {
			position: absolute;
			width: 36px;
			height: 36px;
			background: $mytheme-color-first;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			color: #fff;
			justify-content: center;
			align-items: center;
			font-size: 21px;
			&::before,
			&::after {
				content: '';
				border: 1px solid $mytheme-color-first;
				width: 36px;
				height: 36px;
				animation: pulse 1.5s infinite 1.5s;
				position: absolute;
				border-radius: 50%;
			}
			&::after {
				animation: pulse 1.5s infinite 1s;
			}
			i {
				position: relative;
				z-index: 1;
				font-size: 20px;
			}
		}
		.page-home-rules-pulse-left {
			left: -18px;
		}
		.page-home-rules-pulse-right {
			right: -18px;
		}

		.page-home-rules-item-container {
			.page-home-rules-item-text {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				p {
					padding: 40px;
				}
			}
			.page-home-rules-item-image {
				text-align: center;
				perspective: 30px;
				img {
					width: 450px;
					margin: 20px 5px;
					@extend .my-transition-elastic;
					&:hover {
						transform: translateZ(2px);
					}
				}
			}
		}
	}
}

@keyframes rules-button-animation {
	0% {
		top: 0px;
	}
	50% {
		top: 10px;
	}
	100% {
		top: 0px;
	}
}

@keyframes pulse {
	from {
		transform: scale(0.3);
	}
	to {
		transform: scale(2);
		opacity: 0;
	}
}
