.game-board-toolbar-container {
	background: $mytheme-color-second;
	padding: 10px 0px;
	.game-board-guessing-word-container {
		.game-board-guessing-word {
			margin-bottom: 7px;
			font-size: 1.4rem;

			.game-board-guessing-word-letter {
				border-bottom: 1.5px solid #fff;
				margin-right: 8px;
				text-transform: uppercase;
			}
		}
		.info-tooltip {
			border-radius: 50%;
			padding: 0px 8px;
		}
	}
}
