.page-game {
	background: url('/img/pattern_bg_4.png');
	background-size: contain;
	background-attachment: fixed;

	color: #fff;
	padding-top: 65px;
	.game-board-container {
		min-height: 100vh;
	}
}
