* {
	font-family: 'Roboto';
}

body {
	color: $mytheme-color-second;
}

.fade-appear,
.fade-enter {
	opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
	transition: opacity 0.3s linear;
	opacity: 1;
}

.fade-exit {
	// transition: opacity 0.2s linear;
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
}

.mybtn1 {
	display: inline-block;
	text-decoration: none;
	position: relative;
	padding: 15px 50px;
	color: #fff;
	border: 3px solid #fff;
	overflow: hidden;
	border-radius: 3px;
	background: none;
	cursor: pointer;
	outline: none !important;
	z-index: 1;

	&:hover {
		text-decoration: none;
		color: $mytheme-color-first;
		&::after {
			width: 80%;
			opacity: 1;
		}
	}

	&:active {
		color: $mytheme-color-first;
		&::after {
			width: 150%;
			opacity: 1;
		}
	}

	&::after {
		width: 0%;
		height: 100%;
		opacity: 0;
		content: '';
		transform: translateX(-50%) translateY(-50%);
		background: #fff;
		top: 50%;
		left: 50%;
		position: absolute;
		z-index: -1;
		@extend .my-transition-elastic;
	}
}
.mybtn2 {
	@extend .mybtn1;
	color: $mytheme-color-first;
	border: 2px solid $mytheme-color-first;
	&::after {
		background: $mytheme-color-first;
	}

	&:hover {
		color: #fff;
	}
}

.page-padding {
	padding-top: 88px;
}

.my-transition-elastic {
	transition: all 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9);
}

.impact {
	background: $mytheme-color-first;
	position: relative;
	&::before,
	&::after {
		background: #fff;
		position: absolute;
		content: '';
		height: 45px;
		width: 100%;
		z-index: 2;
		left: 0px;
	}
	&::before {
		top: 0px;
	}
	&::after {
		bottom: 0px;
	}
	.impact-inner {
		background: $mytheme-color-second;
		color: #fff;
		width: 80%;
		margin: 0 auto;
		position: relative;
		z-index: 3;
		padding: 55px 30px;

		@extend .shadow;
	}
}

.form-group {
	.form-control,
	[class^='custom'] {
		border-width: 2px;
	}

	.form-control:focus,
	[class^='custom']:focus {
		color: #25313d;
		background-color: #fff;
		border-color: $mytheme-color-first;
		outline: 0;
		box-shadow: none;
	}
}
