.game-board-container-center {
	overflow: hidden;
	width: 100%;
	height: 730px;
	max-height: 730px;
	.game-board-sketchpad {
		background: #fff;
		overflow: hidden;
		width: 100%;
		height: 100%;
		.game-board-sketchpad-canvas {
			display: block;
			margin: 0 auto;

			cursor: crosshair;

			&:hover {
				cursor: crosshair;
			}
		}
	}

	.game-sketchpad-canvas {
		background: #fff;
		cursor: crosshair;
		&:hover {
			cursor: crosshair;
		}
		margin: 0 auto;
		display: block;
	}
}

@media screen and (max-width: 1366px) {
	.game-board-container-center {
		max-height: 580px;
	}
}
