.main-nav {
	font-size: 1.2rem;
	height: 75px;
	.navbar-brand {
		color: #fff;
	}

	.nav-item {
		position: relative;

		&:hover {
			.nav-link:before {
				opacity: 1;
				transition: all 0.3s;
				width: 100%;
			}
		}

		.nav-link {
			color: #fff;
			&::before {
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				height: 4px;
				background: #fff;
				content: '';
				opacity: 0;
				width: 10%;
			}
		}
	}
}
.main-nav-scrolled {
	opacity: 0;
	.navbar-brand {
		color: $mytheme-color-second !important;
		&:hover {
			color: $mytheme-color-first !important;
		}
	}
	.nav-link {
		color: $mytheme-color-second !important;
		&::before {
			background: $mytheme-color-first !important;
		}
	}
	animation: nav-slide 0.2s ease-in-out 0.4s forwards;
	@extend .shadow;
}

@keyframes nav-slide {
	100% {
		opacity: 1;
		background: #fff;
	}
}
