.react-modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10003;
	background-color: rgba(0, 0, 0, 0.5);
	.react-modal {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10004;
		display: none;
		overflow: hidden;
		outline: 0;
		display: block;

		.choose-word-button-group {
			.mybtn2 {
				padding: 15px 35px;
			}
		}
	}
}
